{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>

{% if is_school %}
<h1 class='text-center'>
	My Quizes
</h1>
<br>
<h5 class="text-center bg-warning text-black">
	Please note that you must login as a student to take the quiz.
</h5>
<br>
{% else %}
<h1 class='text-center'>
	Available Quizes
</h1>
{% endif %}

<!-- Show success message after successful creatiion of quiz-->
{% if messages %}
<div class="text-center alert alert-success alert-dismissible">
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
</div>
{% endif %}

{% for data in data %}

<div class="row row-cols-1 row-cols-md-2">
	<div class="col mb-4">
		<div class="card">
			{% if is_school %}
				<img src="{% static 'quiz2.png' %}" class="card-img-top" alt="..." height="200px">
				<hr>
				<div class="card-body row">
					<div class="col text-center">
						<h5 class="card-title">{{ data.quiz_title }}</h5>
					</div>
					<div class="col text-center">
						<h5 class="pub_date">{{ data.pub_date }}</h5>
					</div>
				</div>
			{% else %}
			<a href="{% url 'begin_quiz' id=data.id %}?pub_date={{ data.pub_date }}">
				<img src="{% static 'quiz2.png' %}" class="card-img-top" alt="..." height="200px">
				<hr>
				<div class="card-body row">
					<div class="col text-center">
						<h5 class="card-title">{{ data.quiz_title }}</h5>
					</div>
					<div class="col text-center">
						<h5 class="pub_date">{{ data.pub_date }}</h5>
					</div>
				</div>
			</a>
			{% endif %}
		</div>
	</div>
</div>

{% endfor %}
<!-- If School is logged in then allow to create a new quiz -->
{% if is_school %}
<form action="{% url 'create_quiz' %}" enctype="multipart/form-data" method="GET">
	<div class="col-md-12 text-center">
		<button class="btn btn-primary" type="submit">New Quiz</button>
	</div>
</form>

<br>
<br>
<br>
{% endif %}

{% if data.has_other_pages %}
  <ul class="pagination">
	<!-- Previous page -->
	{% if data.has_previous %}
		<li class="page-item">
			<a class="page-link" href="?page={{ data.previous_page_number }}"> Previous</a>
		</li>
	{% else %}
		<li class="page-item disabled"></li>
	{% endif %}
	<!-- Next page -->
    {% if data.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ data.next_page_number }}">Next</a>
      </li>
	{% else %}
	<li class="page-item disabled"></li>
    {% endif %}
  </ul>
{% endif %}
<br>
<br>
<br>

{% endblock %}