{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>

<h1 class='text-center'>
	Available Schools
</h1>

{% for data in data %}
<div class="row row-cols-1 row-cols-md-2">
	<div class="col mb-4">
		<div class="card">
			<a href="{% url 'school' id=data.user_id %}">
				<img src="{% static 'school.png' %}" class="card-img-top" alt="..." height="200px">
			<div class="card-body text-center border">
				<h5 class="card-title">{{data.school_name}}</h5>
			</div>
			</a>
		</div>
	</div>
</div>
<br>
{% endfor %}
<br>

{% endblock %}