{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>

<h1 class='text-center'>
	Available Schools
</h1>

<div class="row row-cols-1 row-cols-md-2">
	<div class="col mb-4">
{% for data in data %}
	<div class="card">
		<a href="{% url 'school' id=data.user_id %}">
			<img src="{% static 'school.png' %}" class="card-img-top" alt="..." height="200px">
		<div class="card-body text-center border">
			<h5 class="card-title">{{data.school_name}}</h5>
		</div>
		</a>
	</div>
<br>
{% endfor %}
<br>

<div class="text-center">
	{% if data.has_other_pages %}
		<ul class="pagination">
		<!-- Previous page -->
		{% if data.has_previous %}
			<li class="page-item">
				<a class="page-link" href="?page={{ data.previous_page_number }}"> Previous</a>
			</li>
		{% else %}
			<li class="page-item disabled"></li>
		{% endif %}
	
		<!-- Show all page numbers -->
		{% for i in data.paginator.page_range %}
		{% if users.number == i %}
			<li class="page-item"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
		{% else %}
			<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
		{% endif %}
		{% endfor %}
		
		<!-- Next page -->
		{% if data.has_next %}
			<li class="page-item">
			<a class="page-link" href="?page={{ data.next_page_number }}">Next</a>
			</li>
		{% else %}
		<li class="page-item disabled"></li>
		{% endif %}
		</ul>
  	{% endif %}
</div>
</div>
</div>
<br>
<br>
<br>

{% endblock %}